.input-container {
  width: 95%;
  height: 35px;
  display: flex;
}

.input-container form {
  flex-grow: 1;
  display: flex;
}

.input-container input {
  flex-grow: 6;
  border: 2px solid #a0a0a0;
  background-color: #1a1a40;
  color: rgb(255, 255, 255);
  box-shadow: none;
  outline: none;
  padding-left: 10px;
  border-radius: 3px 0px 0px 3px;
}

.input-container button {
  flex-grow: 1;
  border-radius: 0px;
  background-color: #8758ff;
  border: none;
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
}
