body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  background-color: #8758ff;
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  row-gap: 20px;
  width: 750px;
  height: 1000px;
  background-color: #1a1a40;
}
