body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  background-color: #8758ff;
  margin: 0;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 750px;
  height: 1000px;
  background-color: #1A1A40;
}