.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #8758ff;
  height: 50px;
  padding: 0px 10px;
  border-radius: 3px;
}

.task-item:hover {
  transform: scale(1.02);
}

.task-item:hover:active {
  opacity: 0.6;
}

.button-container svg {
  transition: all 0.2s ease;
}

.task-description {
  cursor: text;
}

.button-container {
  display: flex;
  width: 50px;
  justify-content: space-between;
}

.button-container svg {
  cursor: pointer;
}